
.ipynb_checkpoints/Index Remover-checkpoint.ipynb
.ipynb_checkpoints/Intro-checkpoint.ipynb
.ipynb_checkpoints/Requirements-checkpoint.ipynb
.ipynb_checkpoints/Scraper-checkpoint.ipynb
.ipynb_checkpoints/Searcher-checkpoint.ipynb
.DS_Store
